* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  line-height: 2em;
  color: black;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
/* HEADER */
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
header {
  background-color: #fff;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}
.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: 700;
  text-transform: capitalize;
  color: #dc4f72;
  letter-spacing: -1px;
}
.navbar .navbar-brand i.fa {
  display: inline-block;
  color: #dc4f72;
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: #dc4f72;
}
.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 15px;
  transition: all 0.5s ease;
  position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link {
  text-transform: capitalize;
  transition: all 0.5s ease;
  padding: 14px 0;
  font-size: 16px;
  font-weight: 400;
  color: #2c3038;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #dc4f72;
}
a.nav-link:before,
a.dropdown-item:before {
  position: absolute;
  content: "";
  background: #dc4f72;
  width: 0px;
  height: 2px;
  bottom: 13px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover:before,
a.dropdown-item:hover:before {
  width: 20px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
.navbar-expand-lg .navbar-nav .nav-link span.fa-angle-down {
  font-size: 10px;
  padding-left: 2px;
}
.theme-button {
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
}
.btn-outline-primary {
  color: #dc4f72;
  border-color: #dc4f72;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}
.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}
/* CAROUSEL */
.w3l-index1 {
  margin-top: 90px;
}
.w3l-index1 .content {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #ffffff;
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url(../img/masterWork01.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  padding-top: 5rem;
}
.w3l-index1 .content-left h3 {
  font-size: 50px;
  line-height: 57.5px;
  color: #2c3038;
  font-weight: 700;
}
.w3l-index1 .content-left p {
  color: #5a5a5a;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  max-width: 450px;
}
.align-items-center {
  align-items: center !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
/* CHOOSE US */
.header-section {
  max-width: 750px;
  margin: 0 auto;
}
.sub-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.header-section h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.header-section p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.mt-5,
.my-5 {
  margin-top: 3rem !important;
}
.w3l-index2 .s-block {
  border-radius: 6px;
  transition: 0.3s ease-in;
  background: #f7f9fc;
  padding: 3rem 2rem;
  border: 1px solid #f7f9fc;
}
.w3l-index2 .s-block:hover {
  transition: 0.3s ease-in;
  background-color: #ffffff;
  border: 1px solid #eee;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-0.5rem);
}
.d-block {
  display: block !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}
.w3l-index2 .s-block h3 {
  color: #2c3038;
  font-size: 26px;
  line-height: 35px;
  font-weight: 700;
}
.w3l-index2 .s-block p {
  color: #5a5a5a;
  margin-top: 15px;
  font-size: 16px;
  line-height: 24.5px;
}
a,
a:hover {
  text-decoration: none;
}

/* CLASS TITLE  */
.title {
  margin: 10px auto;
  text-align: center;
  max-width: 750px;
}

.title h3 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #dc4f72;
  margin-bottom: 5px;
}

.title h2 {
  font-size: 3rem;
  font-weight: 700;
  color: black;
}

.title p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  color: #5a5a5a;
  margin: 16px 0;
}

/* CLASS .btn-primary  */
.btn-primary {
  font-size: 0.9rem;
  color: #dc4f72;
  font-weight: 500;
  background-color: white;
  border-color: #dc4f72;
  padding: 10px 30px;
  transition: all 0.5s;
}

.btn-primary:hover {
  color: white;
  background-color: #d62f58;
  border-color: #d62f58;
}

/* ABOUT US */
#aboutUs .title h2 {
  font-size: 2.1rem;
}

#aboutUs .title p {
  line-height: 1.5em;
}

#aboutUs .title a.btn-primary {
  background-color: #dc4f72;
  color: white;
}

#aboutUs .aboutUs__content img {
  border-radius: 10px;
}

/* NUMBER  */
#number .number__content .number__item {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#number .number__content .number__item h4 {
  font-size: 1.1rem;
}

#number .number__content .number__item p.countUpNumber {
  font-size: 2.5rem;
  padding: 20px 0;
  margin: 0;
  color: #dc4f72;
  font-weight: 700;
}

/* TARGET  */
#target {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url(../img/masterWork07.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#target .title {
  max-width: 600px;
  margin: 0;
}

#target .title h2 {
  font-size: 2rem;
  color: white;
}

#target .title p {
  color: white;
  line-height: 1.5em;
  margin: 20px 0 40px 0;
}

#target .title .btn-primary {
  color: black;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

#target .title .btn-primary:hover {
  background-color: #dae0e5;
  border-color: #dae0e5;
}
/* SOLUTIONS */

.w3l-index5 .grids5-info {
  border-radius: 6px;
  transition: 0.3s ease-in;
  display: block;
  height: 100%;
  background: #fff;
  border: 1px solid #eee;
}

.w3l-index5 .grids5-info:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-0.5rem);
}
.w3l-index5 a.zoom {
  overflow: hidden;
  position: relative;
}

.w3l-index5 a.zoom img {
  transition: 0.3s ease-in-out;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.w3l-index5 .grids5-info:hover a.zoom img {
  overflow: hidden;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transition: 0.3s ease-in-out;
}

.w3l-index5 .blog-info {
  background: #fff;
  padding: 30px 20px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.w3l-index5 .grid-view img.news-image {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.w3l-index5 .grid-view a.zoom {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.w3l-index5 .grid-view .grids5-info h4 a {
  font-size: 22px;
  line-height: 27px;
  color: #2c3038;
  display: block;
  font-weight: 600;
}
.w3l-index5 .grids5-info:hover div.blog-info h4 a {
  color: #dc4f72;
}

.w3l-index5 .grid-view .grids5-info h4 a:hover {
  color: #dc4f72;
}
.w3l-index5 .grid-view .grids5-info p {
  font-size: 16px;
  line-height: 24.5px;
  color: #5a5a5a;
  margin-top: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.w3l-index5 .grid-view p.date {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  border-bottom: none;
  padding-bottom: 0px;
  position: absolute;
  top: 0;
  background: #dc4f72;
  padding: 15px;
  margin-bottom: 0;
  right: 0;
  margin-top: 0;
}
.w3l-index5 .grid-view .grids5-info img {
  width: 100%;
  display: block;
}

.w3l-index5 a.btn-news {
  padding: 0;
  color: #dc4f72;
  transition: 0.3s ease-in-out;
  border-radius: 0;
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}
.w3l-index5 a.btn-news span {
  font-size: 60%;
  vertical-align: middle;
  padding-left: 0px;
  position: absolute;
  right: -13px;
  top: 7.5px;
  transition: 0.3s ease-in;
}

.w3l-index5 label.tag-label {
  padding: 5px 16px;
  display: inline-block;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
}

.w3l-index5 label.tag-label.red {
  background: rgba(238, 97, 120, 0.2);
  color: #dc4f72;
}

.w3l-index5 label.tag-label.green {
  background: rgba(0, 128, 0, 0.2);
  color: #008000;
}

.w3l-index5 label.tag-label.blue {
  background: rgba(0, 0, 255, 0.2);
  color: #0000ff;
}

.w3l-index5 a.btn-news:hover {
  transition: 0.3s ease-in-out;
  color: #dc4f72;
}

.w3l-index5 a.btn-news:hover span.fa {
  right: -16px;
  transition: 0.3s ease-in;
}

.w3l-index5 .grids5-info:hover a.btn-news span.fa {
  right: -16px;
  transition: 0.3s ease-in;
}

/* PROJECTS  */
#project .project__content .nav-link {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  text-align: center;
  border-bottom: 3px solid #5a5a5a;
  border-radius: 0;
}

#project .project__content .nav-link.active,
.nav-pills .show > .nav-link {
  color: #dc4f72;
  background-color: transparent;
  border-color: #dc4f72;
}

#project .project__item .title h2 {
  font-size: 2.1rem;
}

#project .project__item .title p {
  line-height: 1.5em;
}

#project .project__item img {
  border-radius: 10px;
}

#project .project__content .collapse__project {
  font-size: 1.3rem;
  padding: 10px 15px;
  color: #dc4f72;
  text-decoration: none;
  background-color: #f5f5f5;
  /* border: 1px solid #c1c1c1 !important; */
  border-bottom: 3px solid #dc4f72 !important;
  transition: all 0.5s;
}

#project .project__content .collapse__project.collapsed {
  color: black;
  border-bottom: 1px solid #c1c1c1 !important;
}

#project .project__content .collapse__project i.fa-caret-up {
  display: block;
}

#project .project__content .collapse__project.collapsed i.fa-caret-up {
  display: none;
}

#project .project__content .collapse__project i.fa-caret-down {
  display: none;
}

#project .project__content .collapse__project.collapsed i.fa-caret-down {
  display: block;
}

/* FEEDBACK  */
#feedback {
  padding: 50px 0;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(../img/masterWork15.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#feedback .feedback__content .feedback__item {
  background-color: white;
  border-radius: 10px;
  padding: 32px;
  overflow: hidden;
}

#feedback .feedback__item .feedback__img {
  width: 100px;
  height: 100px;
  border: 3px solid #dc4f72;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  margin: auto;
}

#feedback .feedback__item .feedback__img img {
  width: 100%;
  height: 100%;
}

#feedback .feedback__item .feedback__icon i {
  font-size: 2.2rem;
  color: rgba(44, 48, 56, 0.2);
  text-align: right;
}

#feedback .feedback__item .feedback__text {
  font-size: 1.1rem;
  line-height: 1.5em;
  text-align: justify;
}

#feedback .feedback__item .feedback__text h4 {
  color: #dc4f72;
  font-size: 1.1rem;
  margin: 0;
}

#feedback .feedback__item .feedback__text span {
  font-size: 0.8rem;
  color: #5a5a5a;
}

#feedback .owl-theme .owl-dots .owl-dot:focus {
  outline: none;
}

#feedback .owl-theme .owl-dots .owl-dot span {
  border-radius: 0;
  width: 40px;
  height: 5px;
  background-color: white;
  transition: all 0.5s;
}

#feedback .owl-theme .owl-dots .active.owl-dot span,
#feedback .owl-theme .owl-dots .owl-dot:hover span {
  text-align: center;
  background-color: #dc4f72;
}

/* FOOTER  */

footer .form__contact {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

footer .form-control {
  padding: 10px 30px;
  height: 100%;
}

footer .btn-primary {
  color: white;
  background-color: #dc4f72;
}

footer .nav-link {
  color: #5a5a5a;
  transition: all 0.5s;
}

footer .nav-link:hover {
  color: #dc4f72;
}

footer .footer__copyRight a {
  color: #5a5a5a;
  transition: all 0.5s;
  text-decoration: none;
}

footer .footer__copyRight a:hover {
  color: #dc4f72;
}

/* BACK TO TOP  */
.backToTop {
  visibility: hidden;
  opacity: 0;
  width: 50px;
  height: 50px;
  background-color: rgba(220, 80, 115, 0.6);
  border-radius: 10px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: white;
}

.backToTop a {
  color: white;
  text-decoration: none;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
